.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
_site/
*cache/
*site/
*/execute-results/
_freeze/
*_cache/
*/figure-latex/
*/figure-beamer/
*/figure-html/
*/figure-pdf/
Week1-Lecture1_files/.DS_Store
.DS_Store
site_libs/
tinytable_assets/
*.pdf
*_files/