.Rproj.user
.Rhistory
.RData
.Ruserdata
_*.qmd
/.quarto/
_site/
*cache/
*site/
*/execute-results/
_freeze/
*_cache/
*/figure-latex/
*/figure-beamer/
*/figure-html/
*/figure-pdf/
.DS_Store
Week1-Lecture1_files/.DS_Store
.DS_Store
